*{
    margin: 0;
    padding: 0;

}
.header-left img{
    height: 40px;
}
.user-avatar{
        width: 40px;
        height: 40px;
        border-radius: 100px;

}
.user-me{
    border-radius: 50px;
    width:40px;
    height: 40px;
}
.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header-input input{
    border: none;
    background-color: transparent;
    outline: none;
}
.header-middle{
    display: flex;
    flex: 1;
    justify-content: center;

}
.header-option .material-icons{

    font-size: xx-large;
    color: grey;
    width: 40px;
    height: 40px;

}
.header-option .material-icons:hover {

    color: #2e81f4;

}
.header-option{
    display:flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.header-option  .active{

    color: #2e81f4;

}
.header-option .active{
    border-bottom: 4px solid #2e81f4;
}
.header-option:hover{
    background-color:#eff2f5 ;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;

}
.header-info{
    display: flex;
    align-items: center;
    
    padding: 6px;


}
.header-info h4{
    margin-left: 10px;
    
}

.header-right{
    display: flex;
    align-items: center;
}
.header-right .material-icons{
    color: gray;
    margin: 0 8px;
    cursor: pointer;
}
.header-right .header-settings{
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #eff2f5;
    margin: 5px;

    

}
.header-right .header-settings .material-icons{
    margin-right: 30px;
    text-align: center;
    

}
.header-settings:hover{

    background-color: #c6c6c7;
    width: 40px;
    height: 40px;

    
}
/* sidebar styling starting  */
.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebar-row:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sidebar-row h4{
    margin: 20px;
    font-weight: 600;
}
.sidebar-row .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

/* sidebar styling ending */

.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.storyreel :hover{
    transform: scale(1.07);
}
.story .user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.story-avatar{
    margin: 10px;
}
.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
.storyreel{
    padding: 10px 0;
    display: flex;
}
.main-body{
    display: flex;
    
}
body{
    background-color: #f1f2f5;
}
.feed{
    flex:1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}
.message-sender-top .user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
/* message-sender starts */

.message-sender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 7px -7px rgb(0, 0,0,0.75);
    width: 100%;
}
.message-sender-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5 ;
    padding: 15px;
}
.message-sender-top form{
    flex:1;
    display: flex;

}
.message-sender-top form input{

    flex:1;
    outline-width:0;
    border:none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 100px;
    background-color: #eff2f5;
}
.message-sender-bottom{
    display: flex;
    justify-content: space-evenly;
}
.message-sender-option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.message-sender-option h4{
    font-size: medium;
    margin-left: 10px;

}
.message-sender-option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}


/* message-sender ends */

/* post styling */

.post{

    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 7px -7px rgb(0, 0,0,0.75);


}
.post-image img{

    width: 100%;

}
.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post-avatar{
   
    margin-right: 20px;
}
.post-top-info h3{
    font-size: medium;
}
.post-top-info p{

    font-size: small;
    color: gray;

}
.post-bottom{
    margin-top:10px;
    margin-bottom: 10px;
    padding: 15px 25px ;
}
.post-options{

    padding: 10px;
    border-top: 1px solid;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;

}
.post-option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.header-option p{
    margin-left: 10px;
}
.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}
.birthday-title{
    display: flex;
    align-items:center;
    margin-right: 10px;
    padding: 10px;

}

.birthday-container{
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

}
.birthday-container .dark{
    font-weight: 700;
}
.birthday-container p{
    margin-left: 10px;
}
.sponsored-container{
    padding: 0 10px;
    cursor: pointer;
    
}
.sponsor-details{
    display: flex;
    align-items: center;

}
.sponsor-details .details{
    margin-left: 10px;
}
.sponsor-details img{
    border-radius: 10px;
}

.sponsored-container .spo {
    color: gray;
    margin-bottom: 10px;

}
.contacts-container .spo{
    color: gray;
    margin-bottom: 10px;
}
.sponsored-container :hover{
    
    background-color: #c6c6c7;
    border-radius: 10px;

}
hr{
    color: 1px solid whitesmoke;
}
.contacts-container{
    padding: 10px 0;
}
.contacts-container .contact{

    display: flex;
    justify-content: space-between;
}
.option .material-icons{
    color: gray;
    padding: 0 10px;
    justify-content: space-between;
    cursor: pointer;
}
.online img{
    height: 40px;
    width: 40px;
    border-radius: 50px;

}
.contacts-container .online{
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
.online h3{
    margin-left: 10px;
}
 .contacts-container :hover{

    background-color: #c6c6c7;
    border-radius: 10px;


}
